<h1>{{ t('heading', { test: 'param' }) }}</h1>

@for (entry of t.arr('array'); track entry) {
  <p>{{ entry }}</p>
}

<h2>Plurals example</h2>
<p>{{ t.plural('plural.users', 1) }}</p>
<p>{{ t.plural('plural.users', 5) }}</p>

<h2>Select example</h2>
<p>{{ t.select('select.categories', 'all') }}</p>
<p>{{ t.select('select.categories', null) }}</p>


<h2>Prefix example</h2>
@let tPrefixed = t.prefix('homeNested.blocks');
<p>{{ tPrefixed('something') }}</p>
@for (entry of tPrefixed.arr('array'); track entry) {
  <p>{{ entry }}</p>
}

<button (click)="switchLanguage()">Switch language</button>

